$background: #F7F7FC;
$darkGrey: #14142B;
$lightGrey: #EFF0F6;
$primaryText: #A0A3BD;
$primary: #00D76B;
$warning: #FFAC66;
$danger: #FF4C4D;

$btnPrimaryTextColor: #ffffff;
$btnPrimaryHoverBackground: #0ae577;

$btnSecondaryBackground: $darkGrey;
$btnSecondaryTextColor: #ffffff;
$btnSecondaryHoverBackground: #1d1d38;

$cardBackground: #ffffff;
$altCardBackground: #D9DBE940;

$faqBackground: #D9DBE9;
$faqOpened: #007BE1;

$perishableBlockTextColor: #6A5300;
$perishableBlockBackground: #F2F294;